{% extends "base.html" %}
{% load url from future %}
{% block title %}SWEET Success{% endblock title %}
{% block content %}
{% include "sweet/form.html" %}

<script type="text/javascript" src="{{STATIC_URL}}js/jquery.zclip.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){

      $("#copy-ampscript").click(function(event) {
          event.preventDefault();
      });

  
      $('#copy-ampscript').zclip({
          path:'{{STATIC_URL}}js/ZeroClipboard.swf',
          copy:function(){return $('#ampscript-output').val();},
          afterCopy: function(){
              $('#copied-msg1').html("Ampscript copied to clipboard").fadeIn().delay(1000).fadeOut();
          }
      });

  });
</script>

<br><br>



<a href="#" id="copy-ampscript">copy ampscript to clipboard</a>

<span style="color:green;" id="copied-msg1"></span>

<div style="clear:both;"></div>

<textarea id="ampscript-output" rows="25" cols="100">{{ampscript_html}}</textarea>

{% endblock content %}
