
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: arial;
}
a {
    color: green;
}
p {
    margin: 20px 0;
}
h1, h2, h3, h4, h5 {
    color: #F12938;
    font-weight: normal;
    margin: 0 0 20px;
}
#header a {
    color: #F12938;
    text-decoration: none;
    text-shadow: 1px 1px 1px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
}
#header {
    background: none repeat scroll 0 0 #CCCCCC;
}
#nav ul {
    padding: 0 0 0 20px;
}
#nav ul li a {
    background: none repeat scroll 0 0 #F1293D;
    color: #FFFFFF;
    padding: 5px 40px;
    text-decoration: none;
}
#nav ul li {
    float: left;
    list-style: none outside none;
    margin: 0 1px;
}
#nav ul li a:hover {
    background: none repeat scroll 0 0 #6F0000;
}
#nav {
    background: none repeat scroll 0 0 #000000;
    float: left;
    min-height: 25px;
    padding: 4px 0 0;
    width: 100%;
}
#content {
    float: left;
}
body > div {
    padding: 20px;
}
textarea {
    margin: 20px 0;
}
#copy-ampscript, #copy-subject-ampscript {
    background: none repeat scroll 0 0 #F12938;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    padding: 5px;
    text-decoration: none;
}
