
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: arial;
    color: #616163;
}
a {
    color: green;
}
p {
    margin: 20px 0;
}
h1, h2, h3, h4, h5 {
    font-family: 'Josefin Sans', sans-serif;
    color: #F12938;
    font-weight: normal;
    margin: 0 0 20px;
}
#header {
    padding: 20px;
}
#header a {
    letter-spacing:3px;
    color: #616163;
    text-decoration: none;
}
#header h1 {
    margin: 0;
}
#nav ul {
    padding: 0 0 0 20px;
}
#nav ul li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F1293D;
    border-color: -moz-use-text-color #FFFFFF;
    border-image: none;
    border-style: none solid;
    border-width: 0 1px;
    color: #FFFFFF;
    margin-left: -3px;
    padding: 5px 40px;
    text-decoration: none;
}
#nav ul li {
    float: left;
    list-style: none outside none;
    margin: 0 1px;
}
#nav ul li a:hover {
    background: none repeat scroll 0 0 #6F0000;
}
#nav {
    background: none repeat scroll 0 0 #F1293D;
    float: left;
    min-height: 25px;
    padding: 4px 0 0;
    width: 100%;
}
#content {
    float: left;
    padding: 20px;
    line-height:1.5em;
}
bo {
}
textarea {
    margin: 20px 0;
}
#copy-ampscript, #copy-subject-ampscript {
    background: none repeat scroll 0 0 #F12938;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    padding: 5px;
    text-decoration: none;
}
#footer p {
    padding: 20px;
    margin: 0;
    font-size: 10px;
}
#footer a {
    color: #99B540;
}
#footer {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    width: 100%;
}
.clear {
    clear: both;
}