{% extends "../base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
<h2>Welcome to Catalysis Tools</h2>
<h3>Super Localization Excel Extraction Program (SLEEP)</h3>
<p>SLEEP is a tool for generating the localization ampscript with an excel file.</p>

<h3>Super Word Extraction Email Template (SWEET)</h3>
<p>SWEET is a tool for generating the ampscript html template with a word document. This requires WORD 2007 or 2010 to be installed on the server to function.</p>

<h3>Rapid Email Maker (REM)</h3>
<p>REM is a JavaScript application for rapidly creating AMPscript email templates ready for localization.</p>
{% endblock content %}


