{% extends "base.html" %}
{% block title %}Rapid Email Maker{% endblock title %}
{% block content %}

	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  
  <style>
    input[type=text], textarea {
      border: 3px solid #000;
    }
    input[type=text]:focus, textarea:focus {
      border: 3px solid #F12938;
    }
    label {
      display: inline-block;
      width: 120px;
      height: 30px;
      text-align: right;
    }    
  </style>
  
  <script type="text/javascript">
  $(document).ready(function(){
    var count = 1;
    var alphabet_count = 0;
    var ampscript_html = "";
    var ampscript_vars = "";
    var ampscript_urls = "";
    var ampscript_urls_sets = "";
    var ampscript_sets = "";
    var is_alphabet_count = true;
    var history = new Array();
    var keyboard_shortcut = true;
    var alphabet = "ABCDEFGHIJKLMNOPQRSTUVWZYZ";
    save_to_history('none');

    $('#variable').click(add_variable);
    $('#anchor').click(add_anchor);
    $('#paragraph').click(add_paragraph);
    $('#strong').click(add_strong);
    $('#token').click(add_token);
    $('#undo').click(undo);
    $('#table').click(add_table);    
    $('#closetable').click(close_table);    
    $('#compile').click(compile);
    
    $('#token-input, #anchor-style, #strong-style, #variable-name, textarea').blur(function(){
      keyboard_shortcut = true;
			ampscript_html = $('#box').val();
			ampscript_vars = $('#varbox').val();
			ampscript_sets = $('#setbox').val();
			ampscript_urls = $('#urlbox').val();
			ampscript_urls_sets = $('#urlsetbox').val();
    });    
    
    $('#token-input, #anchor-style, #strong-style, #variable-name, textarea').focus(function(){
      keyboard_shortcut = false;
    });
    
    $('#alphabet-count').click(function(){
      if($('#alphabet-count').prop('checked')){
        is_alphabet_count = true;
      } else {
        is_alphabet_count = false;
      };
    });
    
    $(document).keydown(function(event){
      if (!keyboard_shortcut){
        return;
      }
      if (event.keyCode == 86){
        $('#variable').click();
      }
      if (event.keyCode == 65){
        $('#anchor').click();
      }
      if (event.keyCode == 80){
        $('#paragraph').click();
      }
      if (event.keyCode == 83){
        $('#strong').click();
      }      
      if (event.keyCode == 84){
        $('#token').click();
      }      
      if (event.keyCode == 85){
        $('#undo').click();
      }
    });
    
    function save_to_history(variable_type){
      history.push({
        'ampscript_html': ampscript_html,
        'variable_type': variable_type,
        'count': count,
        'alphabet_count': alphabet_count,
        'ampscript_vars': ampscript_vars,
        'ampscript_sets': ampscript_sets,
        'ampscript_urls': ampscript_urls,
        'ampscript_urls_sets': ampscript_urls_sets
      });      
    }
    
    function get_current_alphabet(){
      if(is_alphabet_count){
        current_alphabet = alphabet.substr(alphabet_count, 1);
        return current_alphabet;
      } else{
        current_alphabet = "";
        return current_alphabet;
      }
    }
    
    function increment_count(){
      if(is_alphabet_count){
        alphabet_count++;
      } else{
        count++;
      }    
    }
    
    function append_ampscript_vars(){
      ampscript_vars = ampscript_vars + "VAR @" + variable_name + count + current_alphabet + "\n";    
    }
    
    function append_ampscript_sets(){
      ampscript_sets = ampscript_sets + "SET @" + variable_name + count + current_alphabet + " = \"\"\n";    
    }
    
    function add_variable(e){
      e.preventDefault();
      variable_name = $('#variable-name').val();
      current_alphabet = get_current_alphabet();
      ampscript_html = ampscript_html + "%%=v(@"+ variable_name + count + current_alphabet + ")=%%";   
      append_ampscript_vars();
      append_ampscript_sets();
      $('#box').val(ampscript_html);
      $('#varbox').val(ampscript_vars);
      $('#setbox').val(ampscript_sets);
      save_to_history('variable');
      increment_count();
    }
    
    function add_anchor(e){
      e.preventDefault();
      current_alphabet = get_current_alphabet();
      variable_name = $('#variable-name').val();
      anchor_style = $('#anchor-style').val();
      anchor = '<a href="%%=RedirectTo(@Url'+ variable_name + count + current_alphabet + ')=%%"' + ' title="%%=v(@' + variable_name + count + current_alphabet + ')=%%" alias="' + variable_name + ': " style="' + anchor_style + '">'+ '%%=v(@'+ variable_name + count + current_alphabet +')=%%</a>';
      ampscript_html = ampscript_html + anchor;
      ampscript_urls = ampscript_urls + 'VAR @Url'+ variable_name + count + current_alphabet + "\n";
      ampscript_urls_sets = ampscript_urls_sets + "SET @Url" + variable_name + count + current_alphabet + " = \"\"\n";
      append_ampscript_vars();
      append_ampscript_sets();
      $('#box').val(ampscript_html);
      $('#varbox').val(ampscript_vars);
      $('#setbox').val(ampscript_sets);
      $('#urlbox').val(ampscript_urls);
      $('#urlsetbox').val(ampscript_urls_sets);
      save_to_history('anchor');
      increment_count(); 
    }
    
    function add_paragraph(e){
      e.preventDefault();
      ampscript_html = ampscript_html + "\n<br><br>\n\n";
      $('#box').val(ampscript_html);
      save_to_history('paragraph');
      if(is_alphabet_count){
        alphabet_count = 0;
        count++;
      }
    }
    
    function add_strong(e){
      e.preventDefault();
      var current_alphabet = get_current_alphabet();      
      var variable_name = $('#variable-name').val();      
      var strong_style = $('#strong-style').val();
      append_ampscript_vars();
      append_ampscript_sets();
      var anchor = '<strong style="' + strong_style +'">'+'%%=v(@'+ variable_name + count + current_alphabet +')=%%</strong>';
      ampscript_html = ampscript_html + anchor;
      $('#box').val(ampscript_html);
      $('#varbox').val(ampscript_vars);
      $('#setbox').val(ampscript_sets);
      save_to_history('strong');      
      increment_count();
    }
    
    function add_token(e){
      e.preventDefault();
      var token = $('#token-input').val();
      token = '%%' + token + '%%';
      ampscript_html = ampscript_html + token;
      $('#box').val(ampscript_html);
      save_to_history('token')
    }
    
    function add_table(e){
      e.preventDefault();
      ampscript_html = ampscript_html + '<table cellpadding="0" cellspacing="0" border="0" width="100%" style="">\n\t<tr>\n\t\t<td align="left" style="">\n';
      $('#box').val(ampscript_html);
      save_to_history('table');
    }
    
    function close_table(e){
      e.preventDefault();
      ampscript_html = ampscript_html + '\n\t\t</td>\n\t</tr>\n</table>\n';
      $('#box').val(ampscript_html);
      save_to_history('closetable');
    }
    
    function undo(e){
      e.preventDefault();
      if (history.length == 1) {
        return;
      }
      var previous_previous_action = history[history.length-2];
      var previous_action = history[history.length-1];
      var variable_type = previous_action.variable_type;
      alphabet_count = previous_action.alphabet_count;
      ampscript_vars = previous_previous_action.ampscript_vars;
      ampscript_sets = previous_previous_action.ampscript_sets;
      ampscript_urls = previous_previous_action.ampscript_urls;
      ampscript_urls_sets = previous_previous_action.ampscript_urls_sets;
      count = previous_action.count;
      var prev_ampscript_html = previous_previous_action.ampscript_html;
      ampscript_html = prev_ampscript_html;
      history.pop()
      $('#box').val(prev_ampscript_html);
      $('#varbox').val(ampscript_vars);
      $('#setbox').val(ampscript_sets);
      $('#urlbox').val(ampscript_urls);
      $('#urlsetbox').val(ampscript_urls_sets);
    }
    
    function compile(e){
      e.preventDefault();
      var compiled_html = ""
      compiled_html = compiled_html + "<!-- %%[\n\n";
      compiled_html = compiled_html + ampscript_vars + "\n";
      compiled_html = compiled_html + ampscript_urls + "\n";
      compiled_html = compiled_html + ampscript_sets + "\n";
      compiled_html = compiled_html + ampscript_urls_sets + "\n";
      compiled_html = compiled_html + "]%% -->\n\n";
      compiled_html = compiled_html + ampscript_html + "\n";
      $('#box').val(compiled_html);
    }
    
  });
  </script>
<h1>Rapid Email Maker</h1>
<label>Anchor Style</label> <input id="anchor-style" type="text" size="100"><br />
<label>Strong Style</label> <input id="strong-style" type="text" size="100"><br />
<label>Variable Name</label> <input id="variable-name" type="text" size="100"><br />
<label>Token</label> <input id="token-input" type="text" size="100"><br />
<label>Alphabet Count</label> <input id="alphabet-count" type="checkbox" checked="checked">
<br /><br />
  <a href="#" id="variable"><strong>V</strong>ariable</a>
  <a href="#" id="anchor"><strong>A</strong>nchor</a>
  <a href="#" id="strong"><strong>S</strong>trong</a>
  <a href="#" id="paragraph"><strong>P</strong>aragraph</a>
  <a href="#" id="token"><strong>T</strong>oken</a>
  <a href="#" id="undo"><strong>U</strong>ndo</a>
  <a href="#" id="table">Table</a>
  <a href="#" id="closetable">Close Table</a>
  <a href="#" id="compile">Compile</a>
  <div class="clear"></div>
	<textarea id="box" cols="100" rows="100"></textarea>
	<textarea id="varbox" cols="20" rows="100"></textarea>
	<textarea id="setbox" cols="20" rows="100"></textarea>
	<textarea id="urlbox" cols="20" rows="100"></textarea>
	<textarea id="urlsetbox" cols="20" rows="100"></textarea>
{% endblock content %}